* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  justify-content: space-around;
  margin: 100px;
}

.form {
  border-right: dashed 2px #ccc;
  padding-right: 100px;
  margin-right: 100px;
}

.form__title {
  font-size: 25px;
  color: #424242;
}

.form__input {
  display: block;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: solid 1px #ccc;
  border-radius: 5px;
  outline: none;
}

.form__submit {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2d89d9;
  color: white;
  font-weight: bold;
}

.contact {
  flex: 1;
}

.contact__item {
  border: solid 1px #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}

.contact__name {
  color: #252525;
  font-weight: bold;
  font-size: 20px;
}

.contact__phone {
  color: #424242;
  font-size: 14px;
}
